@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
   --cor-de-title: #1C1616;
   --cor-de-link: #4D2C26;
   --cor-de-menu: #FFF;
   --cor-de-subtitle: #181B20;
   --cor-de-footer: #F1E8DC; 
   --cor-de-form: #3033389C;
   --cor-de-boton: #8E5B3D;
   --cor-de-boton-hover: #503323;
   --cor-de-exito: #14BA14;
   --cor-de-error: #FF0000;
   --cor-de-basura: #EA0000;
   --cor-de-contador: #D46525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-image: url("../../img/kiwihug-iiXyEE-HVXQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* CARRITO */
#cart-shopping {
    display: none;
    background: #0000008c;
    position: absolute;
    top: 0;
    z-index: 10000;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: flex-end;
}

.shop {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 50%;
}

.shop__close {
    display: flex;
    align-items: center;
}

.shop__close i {
    font-size: 30px;
    color: var(--cor-de-title);
    cursor: pointer;
}

.shop__close h3 {
    font-size: 28px;
    color: var(--cor-de-link);
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: 1px;
}

.shop__products {
    height: 60%;
    overflow: auto;
    padding: 0 20px;
}

.shop__product {
    height: fit-content;
    display: flex;
    gap: 30px;
    margin: auto;
    border-bottom: 1px solid var(--cor-de-form);
    padding: 30px 0;
    min-height: 300px;
}

.shop__product__img {
    height: 120px;
    object-fit: contain;
}

.shop__product__text {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop__product__text p {
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--cor-de-form);
}

.shop__product__text p span {
    font-weight: 700;
}

.shop__product__operations {
    display: flex;
    height: fit-content;
    gap: 10px;
    align-items: center;
}

.shop__product__sumar, .shop__product__restar {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 30px;
    color: var(--cor-de-menu);
    background-color: var(--cor-de-boton);
    border-radius: 5px;
}

.shop__product__sumar:hover, .shop__product__restar:hover {
    background-color: var(--cor-de-boton-hover);
}

.shop__product__contador {
    font-size: 30px;
    color: var(--cor-de-subtitle);
}

.shop__product__delete i {
    font-size: 30px;
    color: var(--cor-de-basura);
    margin-top: 10px;
    cursor: pointer;
}

.shop__product__delete i:hover {
    color: var(--cor-de-error);
}

.shop__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop__footer p {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.shop__footer p span {
    letter-spacing: 1px;
    color: var(--cor-de-exito);
    font-weight: 900;
}

.shop__footer button {
    border: none;
    background-color: var(--cor-de-boton);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    color: var(--cor-de-menu);
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}

.shop__footer button:hover {
    background-color: var(--cor-de-boton-hover);
}

.shop__footer a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--cor-de-title);
}

.shop__footer a:hover {
    font-weight: 800;
}

.footer {
    min-height: 20em;
}